@import '../../styles/general/colors';

.Navbar {
  height: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  background-color: map_get($colors, 'pampas');
}

.Navbar__label {
  color: map_get($colors, 'black');
  font-weight: 600;
  font-size: 24px;
}

::ng-deep .dark .Navbar {
  background-color: map_get($colors, 'black');
}

::ng-deep .dark .Navbar__label {
  color: map_get($colors, 'white');
}
