@import '../../styles/general/colors';

.Button {
  background-color: map_get($colors, 'royal-blue');
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.2s;
  font-size: 16px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

::ng-deep .dark .Button {
  background-color: map_get($colors, 'white');
  color: black;
}
